<div class="main-area" *ngIf="!this.isActive">
    <mat-card>
        <!--------- Mat Card Header --------->
        <div class="card-title">Create a new account</div>
        <!--------------------------- User Reg Form --------------------------->
        <form [formGroup]="RegForm" #productsForm="ngForm" (ngSubmit)="addUser(productsForm.value)">
            <mat-card-content>
                <!--------------------------- Email Input --------------------------->
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input 
                        matInput 
                        formControlName="email"
                        name = "email"
                        ngModel
                        placeholder="Email"
                    >
                </mat-form-field>
                <!--------------------------- Live Email Input Errors ---------------------------> 
                <div id="error-message" *ngIf="RegForm.controls['email'].invalid && (RegForm.controls['email'].dirty || RegForm.controls['email'].touched)">
                    <div id="error-text" *ngIf="RegForm.controls['email'].errors!['required']">Email is required</div>
                    <div id="error-text" *ngIf="RegForm.controls['email'].errors!['email']">Please enter a valid email address</div>
                </div><br>
                <!--------------------------- Password Input --------------------------->
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input 
                        matInput 
                        [type]="hidePass ? 'password' : 'text'"
                        formControlName="password"
                        name = "password"
                        ngModel
                        placeholder="Password"
                    >
                    <mat-icon matSuffix (click)="hidePass = !hidePass">{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
                </mat-form-field>
                <!--------------------------- Live Password Input Errors --------------------------->
                <div id="error-message" class="error" *ngIf="RegForm.controls['password'].invalid && (RegForm.controls['password'].dirty || RegForm.controls['password'].touched)">
                    <div id="error-text" *ngIf="RegForm.controls['password'].errors!['required']">Password is required</div>
                    <div id="error-text" *ngIf="!RegForm.controls['password'].errors!['required'] && RegForm.controls['password'].errors!pattern">
                        The password must contain the following:<br>
                        Only English letters<br>
                        At least 8 English characters in length<br>
                        At least 1 lowercase and 1 uppercase letters<br>
                        At least 1 special character ( #@$!%*?& )<br>
                        At least 1 number
                    </div>
                </div><br>
                <!--------------------------- Register Button --------------------------->
                <button 
                    id="complete-button"
                    mat-stroked-button
                    color="primary"
                    [disabled]="!RegForm.valid" 
                    type="submit"
                >Create a new account</button>
                <br>
                <p style="text-align: center; margin: 12px 0px;">or</p>
                <button 
                    id="complete-button"
                    mat-stroked-button
                    color="primary"
                    routerLink="../login"
                >Use an existing account</button>
            </mat-card-content>
        </form>
    </mat-card>
</div>