<div class="main-area" *ngIf="!this.isActive">
    <mat-card>
        <!--------- Mat Card Header --------->
        <div class="card-title">Create a new account</div>
        <!--------------------------- User Reg Form --------------------------->
        <form [formGroup]="RegForm">
            <mat-card-content>
                <!--------------------------- Email Input --------------------------->
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input 
                        matInput 
                        formControlName="Email"
                        [(ngModel)]="userObj.email" 
                        placeholder="Email"
                    >
                    
                </mat-form-field>
                <!--------------------------- Live Email Input Errors ---------------------------> 
                <div id="error-message" *ngIf="RegForm.controls['Email'].invalid && (RegForm.controls['Email'].dirty || RegForm.controls['Email'].touched)">
                    <div id="error-text" *ngIf="RegForm.controls['Email'].errors!['required']">Email is required</div>
                    <div id="error-text" *ngIf="RegForm.controls['Email'].errors!['email']">Please enter a valid email address</div>
                </div><br>
                <!--------------------------- Password Input --------------------------->
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input 
                        matInput 
                        [type]="hidePass ? 'password' : 'text'"
                        formControlName="Password"
                        [(ngModel)]="userObj.password" 
                        placeholder="Password"
                    >
                    <mat-icon matSuffix (click)="hidePass = !hidePass">{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
                </mat-form-field>
                <!--------------------------- Live Password Input Errors --------------------------->
                <div id="error-message" class="error" *ngIf="RegForm.controls['Password'].invalid && (RegForm.controls['Password'].dirty || RegForm.controls['Password'].touched)">
                    <div id="error-text" *ngIf="RegForm.controls['Password'].errors!['required']">Password is required</div>
                    <div id="error-text" *ngIf="!RegForm.controls['Password'].errors!['required'] && RegForm.controls['Password'].errors!pattern">
                        The password must contain the following:<br>
                        Only English letters<br>
                        At least 8 English characters in length<br>
                        At least 1 lowercase and 1 uppercase letters<br>
                        At least 1 special character ( #@$!%*?& )<br>
                        At least 1 number
                    </div>
                </div><br>
                <!--------------------------- Confirm Password Input --------------------------->
                <mat-form-field appearance="outline">
                    <mat-label>Confirm Password</mat-label>
                    <input 
                        matInput 
                        [type]="hidePass ? 'password' : 'text'"
                        name="ConfirmPassword" 
                        formControlName="ConfirmPassword"
                        placeholder="Password"
                    >
                    <mat-icon matSuffix (click)="hidePass = !hidePass">{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
                </mat-form-field>
                <!--------------------------- Live Confirm Password Input Errors --------------------------->
                <div id="error-message" *ngIf="RegForm.controls['ConfirmPassword'].invalid && (RegForm.controls['ConfirmPassword'].dirty || RegForm.controls['ConfirmPassword'].touched)">
                    <div id="error-text" *ngIf="RegForm.controls['ConfirmPassword'].errors!['required']">Password is required</div>
                    <div id="error-text" *ngIf="!RegForm.controls['ConfirmPassword'].errors!['required'] && RegForm.controls['ConfirmPassword'].errors!mustMatch">Passwords must match</div>
                </div><br>
                <!--------------------------- Register Button --------------------------->
                <!--------------------------- (click)="addUser(userObj)" is button action --------------------------->
                <button 
                    id="complete-button"
                    mat-stroked-button
                    color="primary"
                    [disabled]="!RegForm.valid" 
                    
                >Create a new account</button>
                <br>
                <!-- Form is valid: {{RegForm.valid}}<br>User is active: {{this.isActive}} -->
                <p style="text-align: center; margin: 12px 0px;">or</p>
                <button 
                    id="complete-button"
                    mat-stroked-button
                    color="primary"
                    routerLink="../login"
                >Use an existing account</button>
            </mat-card-content>
        </form>
    </mat-card>
</div>