<mat-toolbar color="primary">
    <a id="logo" mat-button routerLink="">AlmostPizza</a>
    <span class="toolbar-spacer"></span>
    <div class="toolbar-button-row">
        <a mat-stroked-button routerLink="">
            <mat-icon>home</mat-icon>Home
        </a>
        <a mat-stroked-button routerLink="contacts">
            <mat-icon>call</mat-icon>Contacts
        </a>
        <a mat-stroked-button routerLink="profile">
            <mat-icon>person</mat-icon>Profile
        </a>
        <a mat-stroked-button routerLink="registration">
            <mat-icon>person</mat-icon>Sign Up
        </a>
        <a mat-stroked-button style="color: rgb(248, 71, 59)" routerLink="">
            <mat-icon>logout</mat-icon>Logout
        </a>
    </div>
</mat-toolbar>