@media only screen and (max-width : 4096px) 
    .carousel-position
        display: flex
        justify-content: center
        align-items: center

    .carousel
        max-width: 784px
        min-width: 450px
        max-height: 448px

    .slider-img
        max-height: 448px

    #date
        color: rgb(255, 238, 0)
        text-decoration: underline
        font-weight: bold

    p
        font-weight: 500

    .carousel-caption
        left: 0
        right: 0
        bottom: 0
        width: 100%
        background: rgba(0,0,0,0.6)