<div class="main-area" *ngIf="this.result">
    <div class="content">
        <mat-card>
            <div class="card-title">Special offers</div>
            <mat-card-content>
                <div *ngFor="let item of result; let i = index" class="sale-logo-area">
                    <div *ngIf="item.status">
                        <a href="{{item.link}}" target="_blank"><img id="sale-logo" src="{{item.url}}"></a>
                    </div>
                </div>
                <div class="toolbar-button-row">
                    <button id="arrow-button" class="left-button" mat-stroked-button color="primary" (click)="prevBook()"><mat-icon>arrow_forward_ios</mat-icon></button>
                    <button id="arrow-button" class="right-button" mat-stroked-button color="primary" (click)="nextBook()"><mat-icon>arrow_forward_ios</mat-icon></button>
                </div>
                <div class="dots">
                    <input type="radio" [checked]="item.status" *ngFor="let item of result; let i = index" (click)="changeShowcase(i)">
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>